<h3 id="<%= cueList.uniqueID %>"><%= workspace.displayName %> &mdash; <%= cueList.listName %></h3>

<table cellspacing="0">
  <tr>
    <th width="3px" style="border-left: none; border-right: none;"></th>
    <th width="20px" style="border-left: none; border-right: none;"></th>
    <th width="20px" style="border-left: none;"></th>
    <th width="55px">Number</th>
    <th width="25px" class="no-border">Name</th>
    <th width="25px" style="padding: 0px"></th>
    <th width="25px" class="no-border"></th>
    <th width="25px" class="no-border"></th>
    <th width="25px" class="no-border"></th>
    <th width="25px" class="no-border"></th>
    <th width="25px" class="no-border"></th>
    <th width="25px" class="no-border"></th>
    <th width="25px" class="no-border"></th>
    <th width="25px" class="no-border"></th>
    <th class="no-border"></th>
    <th width="55px" class="hide-medium">Target</th>
    <th width="80px" class="hide-small"style="border-right: none;">Pre-Wait</th>
    <th width="80px" class="hide-medium" style="border-left: none; border-right: none;">Duration</th>
    <th width="80px" class="hide-medium" style="border-left: none; border-right: none;">Post-Wait</th>
    <th width="20px" class="hide-small" style="border-left: none; border-right: none;">
      <img src="plugins/qlab/img/auto_continue_stubby.png" height="20px">
    </th>
  </tr>
  <tbody id="">
    
    <% for(let i=0; i<cueList.cues.length; i++){ %>
      <%= displayCueRow(cueList.cues[i]) %>
    <% } %>

  </tbody>
</table>


<% 
function displayCueRow(q){
  let html = rowTemplate({cue: q, allCues: allCues, workspace: workspace});

  if(q.cues){
    for(let i=0; i<q.cues.length; i++){
      html += displayCueRow(q.cues[i]);
    }
  }
  return html;
}
%>