<header>
  <h1><%= listName %></h1>
  <h2>QLab <%= data.version || "" %></h2>
</header>

<% const workspaceKeys = Object.keys(data.workspaces); %>
  
<% for(let i=0; i<workspaceKeys.length; i++){ %>
  <% const workspace = data.workspaces[workspaceKeys[i]]; %>

  <% for(let j=0; j<workspace.cueLists.length; j++){ %>
    <% const cueList = workspace.cueLists[j]; %>

    <% if(cueList.type=="Cue List"){ %>
      <%= templates.cuelist({cueList: cueList, allCues: data.cueKeys, rowTemplate: templates.cue, workspace: workspace}) %>
    <% }else if(cueList.type=="Cart"){ %>
      <%= templates.cart({cueList: cueList, allCues: data.cueKeys, tileTemplate: templates.tile, workspace: workspace}) %>
    <% } %>

  <% } %>

<% } %>